# Node modules
node_modules/

# Build output
dist/

# IDE and editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Angular specific
.angular/
coverage/

# NPM
.npm/
.eslintcache
