name: Backend CI - Docker Build & Push

on:
  push:
    branches:
      - main
    paths:
      - "deal-pipeline-backend/**"

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./deal-pipeline-backend
          file: ./deal-pipeline-backend/Dockerfile
          push: true
          tags: |
            ankitrautalways/deal-pipeline-backend:latest
            ankitrautalways/deal-pipeline-backend:${{ github.run_number }}
